doctype html
html
	head
		link(rel="stylesheet", href="./css/master.css")
		title Page Title
		meta(name="viewport", content="width=device-width, initial-scale=1")
	body
		div.container
			div.location
				form
			div.today
				div.icon-container
					img.large-icon(src="./img/clear-icon.png")
				div.details
					ul
						li Temperature
						li Humidity
						li Cloudiness
						li Pressure
						li Wind
			div.week
				div.day
					p Monday
					img.small-icon(src="./img/clear-icon.png")
				div.day
					p Tuesday
					img.small-icon(src="./img/fewclouds-icon.png")
				div.day
					p Wednesday
					img.small-icon(src="./img/thunderstorm-icon.png")
				div.day
					p Thursday
					img.small-icon(src="./img/rain-icon.png")
				div.day
					p Friday
					img.small-icon(src="./img/drizzle-icon.png")
