doctype html
html(lang="en-GB")
	head
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Random Quote Machine
		link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7", crossorigin="anonymous")
		link(rel="stylesheet", href="css/main.css")
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Amatic+SC|Open+Sans")
		script(src="https://code.jquery.com/jquery-2.2.4.min.js")
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js", integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS", crossorigin="anonymous")
		script(src="https://use.fontawesome.com/546db51a96.js")
		script(src="scripts/getQuote.js")
	body
		img(src="img/background.jpg" class="background img-responsive")
		div(class="container")
			div(class="row")
			div(class="col-md-12")    
				div(class="quote-card")
					p(class="quote-text")
					footer(class="quote-author")
					div(class="interface")    
						a(href="http://twitter.com/home/?status=" target="_blank" class="tweet")
							button(class="btn btn-lg btn-default twitter")
								span(class="fa fa-twitter fa-2x")
						button(class="btn btn-lg btn-default refresh")
							span(class="fa fa-refresh fa-2x")
